<div class="col-md-8">
  <%= form_for @hotel do |f| %>
  <ul>
  	<% if @hotel.errors.any? %>
  		<% @hotel.errors.full_messages.each do |error| %>
  			<li><%= error %></li>
  			<% end %>
  	<% end %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :standard %>
      <%= f.select :standard, ['*', '**', '***', '****', '*****'], class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control"%>
    </div>
    <div class="form-group">
      <%= f.label :location %>
      <%= f.text_field :location, class: "form-control" %>
    </div>

    <%= f.submit "Save!", class: "btn btn-default" %>
  <% end %>
</div>