<div class="row">
  <div class="col-md-8">
    <table class="table" align="center">
        <%= form_tag hotel_prices_path do %>
          <tr>
            <th class="col-md-4">
              <div>Type of room</div>
            </th>
            <th class="col-md-4">
              <div >Put down price</div>
            </th>
          </tr>
            <%= fields_for 'price_list[]', @price_list[0] do |p| %>
            <tr>
              <td><%= p.text_field :name, value: "Single" %></td>
              <td><%= p.text_field :price %></td>
            </tr>
            <% end %>
            <%= fields_for 'price_list[]', @price_list[1] do |p| %>
            <tr>
              <td><%= p.text_field :name, value: "Double" %></td>
              <td><%= p.text_field :price %></td>
            </tr>
            <% end %>
            <%= fields_for 'price_list[]', @price_list[2] do |p| %>
            <tr>
              <td><%= p.text_field :name, value: "Twin" %></td>
              <td><%= p.text_field :price %></td>
            </tr>
            <% end %>
            <%= fields_for 'price_list[]', @price_list[3] do |p| %>
            <tr>
              <td><%= p.text_field :name, value: "Apartament" %></td>
              <td><%= p.text_field :price %></td>
            </tr>
            <% end %>
            <tr>
              <div class="actions">
                <td><%= submit_tag %></td>
              </div>
            </tr>
        <% end %>
    </table>
  </div>
</div>